body{
    background-color: #c3cfe2;
}
.grid{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 20px;
    list-style: none;
    &__item{
        position: relative;
        width: 50%;
    }
    &__item--img{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: opacity 500ms ease-in;
    }
    &__item--text{
        position: relative;
        transition: opacity 500ms ease-in;
        opacity: 0;
        border: 1px solid black;
        border-radius: 20px;
    }
    &__item--text:hover{
        transition: 1;
    }
    
}
img{
        width: 100%;
        border-radius: 20px;
    }
button{
        background-color: white;
        width: 100px;
        height: 40px;
        border: 2px solid black;
        text-align: center;
        cursor: pointer;
        transform: translate(50px, -150px);
    }
@media (min-width: 600px){
    .grid{
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(4, 1fr);}
}
@media (min-width: 1024px){
    .grid{
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 1fr);}       
}